body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Navbar */ 
#ft_logo {
    height: 80px;
    width: auto;
    filter: drop-shadow(4px 4px 6px black);
}

.navbar {
    padding: 6px;
    background-image: linear-gradient(purple, pink);
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}













/* Media queries */
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}